node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
docker
Dockerfile
Dockerfile.node
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/public/*
vendor/bin/phpunit
